<p id="notice"><%= notice %></p>

<p>
  <strong>Socio:</strong>
  <%= @cerimonia.socio %>
</p>

<p>
  <strong>Distintivo:</strong>
  <%= @cerimonia.distintivo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @cerimonia.data %>
</p>

<%= link_to 'Edit', edit_cerimonia_path(@cerimonia) %> |
<%= link_to 'Back', cerimonie_path %>
