<h1>Listing distintivi</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distintivi.each do |distintivo| %>
      <tr>
        <td><%= distintivo.nome %></td>
        <td><%= link_to 'Show', distintivo %></td>
        <td><%= link_to 'Edit', edit_distintivo_path(distintivo) %></td>
        <td><%= link_to 'Destroy', distintivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distintivo', new_distintivo_path %>
