<%= form_for(@notizia) do |f| %>
  <% if @notizia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notizia.errors.count, "error") %> prohibited this notizia from being saved:</h2>

      <ul>
      <% @notizia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text, required: true, class: "redactor" %>
  </div>
  <div class="field">
    <%= f.label :unita %><br>
    <%= f.select :unita,
      Unita.all.map { |u| [ u.branca.nome + " - " + u.nome_completo, u.id] },
      {  },
      { class: 'chosen-select', multiple: true, 'data-placeholder' => 'Seleziona...' }
    %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
