<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @unita.branca.nome_unita + " " + @unita.nome %>
</p>

<p>
  <strong>Branca:</strong>
  <%= @unita.branca.nome %>
</p>

<%= link_to 'Edit', edit_unita_path(@unita) %> |
<%= link_to 'Back', unita_index_path %>
